/* https://getcssscan.com/css-buttons-examples */

.welcome-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 28px;
    font-family: "Monaco" , monospace;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 30px;
    width: 30%;
    min-height: 10%;
    border: none;
    margin:20px;

    background: #c1c7c6;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: black;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.welcome-button:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(168, 175, 190, 0.5);
    outline: 0;
}

.welcome-buttons-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.welcome-header{
    text-align: center;
    padding:15px;
    font-size: xx-large;
    font-family: "Monaco" , monospace;
}

.welcome-favorite-button {
    padding: 20px;
    display:block;
    background: #c1c7c6;
    color: black;
    text-align:center;
    position: absolute;
    top: 27px;
    right: 40px;
    font-family: "Monaco" , monospace;
    font-size: x-large;
    font-weight: bold;
    border-radius: 30px;
    width: 15%;
    min-height: 10%;
    border: none;
    margin:20px;

    background: #c1c7c6;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: black;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.welcome-favorite-button:focus{
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(168, 175, 190, 0.5);
    outline: 0;   
}